html {
    font-family: Arial;
}

header {
    display: flex;
    gap: 10px;
    align-items: center;
    /* background-color: #bfbfbf;
    color: #000; */
}
header img.site-logo {
    height: 4em;
}

.container {
    display: flex;
    width: 100%;
}

.container>* {
    width: 100%;
}

#input_command {
    height: 80px;
    width: 100%;
}

legend {
    font-size: larger;
    font-weight: bold;
}

div.option {
    background: rgb(245, 245, 245);
    border-radius: 5px;
    color: black;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
}

div.option>div.title {
    display: flex;
}

div.body {
    flex-grow: 1;
}

.probs-container {
    float: right;
}
.probs-slider {
    width: 40px;
    border: 1px solid #b64913;
    color: #b64913;
}


div.option>div.drag {
    width: 30px;
    min-width: 30px;
    text-align: center;
    align-self: center;
    cursor: grab;
}

div.body input {
    accent-color: #b64913;
}

div.body input[type=text] {
    flex-grow: 1;
}

div.body input[type=text]:placeholder-shown {
    accent-color: red;
    border: 1px solid red;
}

div.suboptions {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: smaller;
    font-weight: normal;
    padding-left: 22px;
}

div.suboptions>div {
    display: flex;
    flex: calc(50%-10px);
    flex-direction: column;
    padding: 3px;
}

div.suboptions>div.flex-row {
    align-items: center;
    flex: 100%;
    flex-direction: row;
}

div.suboptions>div.flex-row label {
    margin-right: 5px;
}

a.explain {
    border-bottom: 1px dotted black;
}

a.explain::after {
    color: #aaa;
    content: ' 🯄';
    font-size: small;
}

#tokens, #output_command {
    align-content: flex-start;
    counter-reset: token-counter 0;
    display: flex;
    flex-wrap: wrap;
    font-family: monospace;
    min-height: 1em;
}

#output_command {
    background: rgb(53, 52, 52);
    color: white;
    padding: 5px;
}

#output_command>div {
    padding: 2px;
}

#tokens>div.token {
    background: white;
    /* color: orange;
    border: 1px solid orange; */
    border: 1px solid #ccc;
    border-radius: 5px;
    counter-increment: token-counter 1;
    cursor: pointer;
    margin-bottom: 2px;
    margin-right: 4px;
    margin-top: 2px;
    padding: 2px;
}

#tokens>div.token[data-type="disabled"] {
    background: #bbb;
    color: #666;
}

#tokens>div.token[data-type="disabled"]::before {
    background: #666;
    color: #bbb;
}

/* #tokens>div.token[data-type="command"] {
    background: white;
    color: red;
    border: 1px solid red;
} */
#tokens>div.token[data-type="command"]::before {
    background: red;
    color: white;
}

/* #tokens>div.token[data-type="path"] {
    background: white;
    color: rgb(25, 66, 132);
    border: 1px solid rgb(25, 66, 132);
} */
#tokens>div.token[data-type="path"]::before {
    background: rgb(111, 4, 111);
    color: white;
}

#tokens>div.token[data-type="url"]::before {
    background: rgb(0, 146, 44);
    color: white;
}

#tokens>div.token::before {
    background: rgb(4, 88, 133);
    color: white;
    content: counter(token-counter);
    font-size: 10px;
    margin-right: 5px;
    padding: 0 3px;
}

#tokens>div.token[data-type="disabled"]::before {
    color: #333;
}

@media screen and (max-width: 700px) {
    .container {
        flex-wrap: wrap;
    }
}

.context-menu {
    background: white;
    border: 1px solid grey;
    display: none;
    font-family: 'Arial';
    padding: 1px;
    position: absolute;
}

.context-menu>li {
    cursor: pointer;
    list-style-type: none;
    padding: 2px 10px;
}

.context-menu>li[data-active="true"] {
    background: rgb(19, 75, 163);
    color: white;
}

fieldset {
    background: rgb(244, 239, 239);
    border: 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 5px;
}

fieldset>legend {
    background: white;
    border-radius: 5px;
    color: brown;
    padding: 0 5px;
}

.button {
    border: 1px solid #b64913;
    color: #b64913;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    user-select: none;
}

.button:hover {
    background: #b64913;
    color: white;
    transition: all .2s ease-in;
}

.button:hover a {
    color: white;
    transition: all .2s ease-in;
}

/*** Drag & drop ***/
.slist>div {
    border: 1px solid #dfdfdf;
    background: #f5f5f5;
}

.slist>div.hint {
    border: 1px solid #EF8C5A;
    /* background: ; */
}

.slist>div.active {
    border: 1px dotted #ffa5a5;
    background: #DB682E;
    color: white;
}
