:root {
    --theme-colour: #EF6351; /*b64913;*/

    --colour-1: #295498;
    --colour-2: #db4437;
    --colour-3: #f4b400;
    --colour-4: #0f9d58;
    --colour-5: #ab47bc;
    --colour-6: #00acc1;
    --colour-7: #ff7043;
    --colour-8: #9e9d24;
    --colour-9: #5c6bc0;
    --colour-10: #f06292;
}

html,
#obfuscation-bar {
    font-family: Arial;
    margin: 0 auto;
    max-width: 1200px;
}

body {
    background-color: white;
    margin-bottom: calc(20px + 2.5em);

}

header {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 10px;
    /* background-color: #bfbfbf;
    color: #000; */
}

header img.site-logo {
    height: 3em;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

#input_command {
    height: 2.5em;
    width: 100%;
}

legend {
    font-size: larger;
    font-weight: bold;
}

div.option {
    background: rgb(245, 245, 245);
    border-radius: 5px;
    color: black;
    font-size: smaller;
    font-weight: bold;
    display: flex;
    gap: 5px;
    padding: 2px;
}

div.option>div.title {
    display: flex;
}

div.body {
    flex-grow: 1;
}

.probs-container {
    float: right;
}

.probs-slider {
    width: 40px;
    border: 1px solid var(--theme-colour);
    color: var(--theme-colour);
}

div.option>div.drag {
    width: 30px;
    min-width: 30px;
    text-align: center;
    align-self: center;
    cursor: grab;
}

div.body input {
    accent-color: var(--theme-colour);
}

div.body input[type=text] {
    flex-grow: 1;
}

div.body input[type=text]:placeholder-shown {
    accent-color: rgb(202, 8, 8);
    border: 2px dotted rgb(202, 8, 8);
}

div.suboptions {
    align-items: center;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    font-size: smaller;
    font-weight: normal;
    padding-left: 22px;
}

div.suboptions>div {
    display: flex;
    gap: 5px;
    /* flex: calc(50%-10px); */
    flex-direction: column;
    flex-wrap: wrap;
}

div.suboptions>div>div.suboption {
    flex: 1;
    display: flex;
    gap: 5px;
    align-items: center;
}

div.suboptions>div.flex-row {
    align-items: center;
    flex: 100%;
    flex-direction: row;
}

div.suboptions>div.flex-row label {
    margin-right: 5px;
}

a.explain {
    border-bottom: 1px dotted black;
}

a.explain::after {
    color: #aaa;
    content: ' 🯄';
    font-size: small;
}

#tokens,
#output_command {
    font-family: monospace;
    min-height: 1.5em;
}

#tokens {
    align-content: flex-start;
    counter-reset: token-counter 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2px 4px;
}

#output_command {
    background: rgb(53, 52, 52);
    color: white;
    padding: 5px;
    overflow-wrap: anywhere;
}

#output_command>div {
    padding: 2px;
}

#tokens>div.token {
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    counter-increment: token-counter 1;
    cursor: pointer;
    padding: 2px;
}

#tokens>div.token[data-type="disabled"] {
    background: #bbb;
    color: #666;
}

#tokens>div.token[data-type="disabled"]::before {
    background: #666;
    color: #bbb;
}

#tokens>div.token[data-type="command"]::before {
    background: var(--colour-2);
    color: white;
}

#tokens>div.token[data-type="path"]::before {
    background: var(--colour-3);
    color: white;
}

#tokens>div.token[data-type="url"]::before {
    background: var(--colour-4);
    color: white;
}

#tokens>div.token::before {
    background: var(--colour-1);
    color: white;
    content: counter(token-counter);
    font-size: 10px;
    margin-right: 5px;
    padding: 0 3px;
}

#tokens>div.token[data-type="disabled"]::before {
    color: #333;
}

@media screen and (max-width: 700px) {
    .container {
        flex-wrap: wrap;
    }
}

.context-menu {
    background: white;
    border: 1px solid grey;
    display: none;
    font-family: 'Arial';
    padding: 1px;
    position: absolute;
}

.context-menu>li {
    cursor: pointer;
    list-style-type: none;
    padding: 2px 10px;
}

.context-menu>li:hover {
    background-color: #ddd;
}

.context-menu>li[data-active="true"] {
    background: rgb(19, 75, 163);
    color: white;
}

fieldset {
    background: color-mix(in srgb, var(--theme-colour) 5%, white);
    /*  rgb(244, 239, 239); */
    border: 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}

fieldset,
#options-panel-options {
    display: flex;
    flex-direction: column;
    gap: 5px 0px;
}

#options-panel-options {
    margin-top: 10px;
}

fieldset[disabled] {
    background: lightgray;
    color: gray;
    /*  rgb(244, 239, 239); */
}


fieldset>legend {
    background: white;
    border-radius: 5px;
    color: color-mix(in srgb, var(--theme-colour) 80%, black);
    padding: 0 5px;
}

.button,
.button-inverted {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    user-select: none;
}

.button {
    border: 1px solid var(--theme-colour);
    color: var(--theme-colour);
}

.button-inverted {
    border: 1px solid white;
    color: white;
}

.button-primary {
    background: white;
}

.button:hover,
.button-inverted:hover,
.button:hover a,
.button-inverted:hover a {
    transition: all .2s ease-in;
}

.button:hover {
    background: var(--theme-colour);
    color: white;
    border-color: white;
}

.button-inverted:hover {
    background: white;
    color: var(--theme-colour);
}

.button:hover a {
    color: white;
}

.button-inverted:hover a {
    color: var(--theme-colour);
}

/*** Drag & drop ***/
.slist>div {
    border: 1px solid #dfdfdf;
    background: #f5f5f5;
}

.slist>div.hint {
    border: 1px solid #EF8C5A;
    /* background: ; */
}

.slist>div.active {
    border: 1px dotted #ffa5a5;
    background: #DB682E;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--theme-colour);
    color: white;
    border-top: 3px solid white;
}

#obfuscation-bar {
    position: relative;
    margin: 0px auto;
    padding: 10px 10px;
    display: flex;
    gap: 3px;
}

#obfuscation-bar span>a {
    color: black;
}

#obfuscation-bar>div.fill {
    flex-grow: 1;
}

#obfuscation-bar>* {
    align-self: center;
}

.inbetween {
    height: 5px;
    background: grey;
}

#JsonFile {
    display: none;
}

#error-messages {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}

#error-messages>* {
    border: 1px solid rgb(240, 163, 48);
    border-radius: 0.2em;
    background: #ffedb3;
    padding: 10px;
    line-height: 1.4em;
    flex-grow: 1;
}

#error-messages code {
    word-break: break-all;
}


.drag-list {
    list-style: none;
    padding: 0;
}

.drag-item {
    background-color: #CC56FF;
    padding: 10px;
    margin-bottom: 5px;
    cursor: move;
}

.collapsed {
    display: none !important;
}

.button-selection {
    display: flex;
    gap: 5px;
}
