---
layout: general
title: Comparison of entries
---
<h2>All supported entries ({{ site.entries | size }})</h2>

<h3>Windows</h3>
<div class="comparison-container">
<table class="comparison">
    <thead>
        <tr>
            <th>Executable</th>
            <th title="The number of unique obfuscation types that apply to the executable.">Obfuscation types</th>
            {%- for item in site.mapping %}
            <th title="{{item[1].description | escape}}">{{item[1].name}}</th>
            {%- endfor %}
        </tr>
    </thead>
    <tbody>
        {%- assign arrs = "" %}
{%- for page in site.entries %}
        {% capture name %}<td><a href="{{ page.url | relative_url | replace: 'http:', 'https:'}}">{% include name page=page %}</a>{% if page.alias %} (and <code>{{page.alias}}</code>){% endif%}</td>{% endcapture %}

        {%- capture output -%}
        {%- assign item_count = 0%}
        {%- for item in site.mapping -%}
            {%- assign x = item[0] -%}
            {%- assign details = page.modifiers[x] -%}
            <td>{%if details%}{% if x!= "Sed" or details.SedStatements contains "s/a/" or details.SedStatements contains "s/A/" or details.SedStatements contains "s/s/" %}✅{% assign item_count = item_count | plus: 1 %}{%endif%}{%endif-%}</td>
        {%- endfor -%}
        {%- endcapture -%}

        {%- capture items -%}<td>{{item_count}}</td>{%- endcapture -%}

        {% assign arr = items | append:"|||" | append:name | append:"|||" | append: output -%}
        {% assign arrs = arrs | append:arr | append: "***" -%}
{%- endfor -%}
{%- assign arrs = arrs | split: "***" | sort | reverse -%}
{%- for line in arrs %}
        <tr>
        {%- assign sections = line | split: "|||" -%}
        {{-sections[1]-}}
        {{-sections[0]-}}
        {{-sections[2]-}}
        </tr>
{%- endfor %}
    </tbody>
</table>
</div>

<h3>Linux</h3>
Coming soon.

<h3>MacOS</h3>
Coming soon.
